* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

app/* linguist-documentation=false
app/* linguist-vendored


/.github export-ignore
CHANGELOG.md export-ignore
